/* Global Styles */

:root {
    --bg-color: rgb(238, 238, 238);
    --maroon: rgb(95, 12, 26);
    --lavender: rgb(193, 180, 214);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

/* Landing Header Styling */

header#Landing {
    display: block;
    width: 60%;
    margin: 35vh auto;
}

/* Landing Header main content, Avatar + About Me */

.landing-main {
    display: flex;
    justify-content: center;
}

.landing-main img {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 20px;
    vertical-align: middle;
}

.landing-main div {
    display: inline-block;
    vertical-align: middle;
}

.landing-main div h1 {
    font-size: 40px;
    color: var(--maroon);
    margin: 10px 0;
}

.landing-main div p {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

/* Landing Header, floating Nav Bar */

header#Landing nav {
    text-align: center;
    margin: 40px 0;
}

header#Landing nav a {
    color: var(--maroon);
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 20px;
    text-decoration: none;
}

header#Landing nav a:before,
header#Landing nav a:after {
    background-color: var(--maroon);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30px;
    margin: 0 10px;
}

header#Landing nav a:hover {
    background-color: var(--lavender);
}

/* Main section header styling */

.section-header {
    text-align: center;
}

.section-header h2 {
    font-size: 30px;
    color: var(--maroon);
    padding: 0 10px;
}

.section-header h2:before,
.section-header h2:after {
    background-color: var(--maroon);
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

.section-header h2:before {
    right: 0.5rem;
    margin-left: -50%;
}

.section-header h2:after {
    left: 0.5rem;
    margin-right: -50%;
}

/* Work Placeholder Images */

.work-card-img.module1 {
    background-image: url("../digital-marketing-meeting.jpg")
}

.work-card-img.ph1 {
    background-image: url("../ph_01.jpg")
}

.work-card-img.ph2 {
    background-image: url("../ph_02.jpg")
}

.work-card-img.ph3 {
    background-image: url("../ph_03.jpg")
}

.work-card-img.ph4 {
    background-image: url("../ph_04.jpg")
}

.work-card-img.ph5 {
    background-image: url("../ph_05.jpg")
}

.work-card-img.ph6 {
    background-image: url("../ph_06.jpg")
}