/* Global Styles */

:root {
    --bg-color: rgb(233, 236, 238);
    --maroon: rgb(95, 12, 26);
    --lavender: rgb(212, 196, 238);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Verdana', 
}

/* Landing Header Styling */

header#Landing {
    display: block;
    width: 60%;
    margin: 35vh auto;
}

/* Landing Header main content, Avatar + About Me */

.landing-main {
    display: flex;
    justify-content: center;
}

.landing-main img {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 20px;
    vertical-align: middle;
}

.landing-main div {
    display: inline-block;
    vertical-align: middle;
}

.landing-main div h1 {
    font-size: 40px;
    color: var(--maroon);
    margin: 10px 0;
}

.landing-main div p {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

@media screen and (max-width: 960px){
    .landing-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .landing-main div {
        justify-content: center;
    }
}

/* Landing Header, floating Nav Bar */

header#Landing nav {
    display: flex;
    text-align: center;
    margin: 40px 0;
}

header#Landing nav a {
    color: var(--maroon);
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    flex-wrap: nowrap;
}

header#Landing nav a:before,
header#Landing nav a:after {
    background-color: var(--maroon);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30px;
    margin: 0 10px;
}

@media screen and (max-width: 1070px) {
    header#Landing nav {
        flex-direction: column;
    }
}

header#Landing nav a:hover {
    background-color: var(--lavender);
}

/* Main section header styling */

.section-header {
    text-align: center;
}

.section-header h2 {
    font-size: 30px;
    color: var(--maroon);
    padding: 0 10px;
}

.section-header h2:before,
.section-header h2:after {
    background-color: var(--maroon);
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

.section-header h2:before {
    right: 0.5rem;
    margin-left: -50%;
}

.section-header h2:after {
    left: 0.5rem;
    margin-right: -50%;
}

/* Flex styling */

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Work Section styling */

section#Works {
    margin: 20vh 0;
}

section#Works article,
section#Works div {
    margin: 2rem auto;
}

.work-card {
    width: 40%;
    flex: 0 0 40%;
    height: 300px;
    border: solid 10px var(--maroon);
    position: relative;
}

.work-card.featured {
    width: 80%;
    flex: 1 0 100%
}

@media screen and (max-width: 992px) {
    .work-card {
        width: 80%;
        flex: 0 0 80%;
    }
}

.work-card a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.work-card-img {
    height: 100%;
    width: 100%;
}

.work-card h3 {
    font-size: 25px;
    padding: 1rem;
    color: var(--lavender);
    background-color: var(--maroon);
    position: relative;
    margin-top: -3rem;
}

/* Work Placeholder Images */

.work-card-img.module1 {
    background-image: url("../digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.work-card-img.ph1 {
    background-image: url("../ph_01.jpg");
    background-size: cover;
    background-position: center;
}

.work-card-img.ph2 {
    background-image: url("../ph_02.jpg");
    background-size: cover;
    background-position: center;
}

.work-card-img.ph3 {
    background-image: url("../ph_03.jpg");
    background-size: cover;
    background-position: center;
}

.work-card-img.ph4 {
    background-image: url("../ph_04.jpg");
    background-size: cover;
    background-position: center;
}

.work-card-img.ph5 {
    background-image: url("../ph_05.jpg");
    background-size: cover;
    background-position: center;
}

.work-card-img.ph6 {
    background-image: url("../ph_06.jpg");
    background-size: cover;
    background-position: center;
}

/* Work Section Cards Interaction */

.work-card,
.work-card .work-card-img,
.work-card h3 {
    transition: all 0.3s ease-in-out;
}

.work-card:hover {
    border-color: var(--lavender);
}

.work-card:hover .work-card-img{
    background-color: rgba(128, 0, 0, 0.493);
    background-blend-mode: multiply;
}

.work-card:hover h3 {
    color: var(--maroon);
    background-color: var(--lavender);
}

/* Contact Section Styling */

section#Contact {
    margin: 20vh 0;
}

section#Contact div {
    margin: 3rem 0;
}

.contact-card {
    padding: .7rem .4rem;
    flex: 0 1 20%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.contact-card h3{
    font-size: 22px;
    color: var(--maroon)
}

.contact-card hr {
    width: 70%;
    border: solid 1px var(--maroon);
    margin: 5px auto;
}

.contact-card p {
    font-size: 18px;
    color: var(--maroon);
}

.contact-card:hover {
    background-color: var(--lavender);
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .contact-card {
        flex: 0 1 40%;
    }
}

@media screen and (max-width: 440px) {
    .contact-card {
        flex: 0 1 80%;
    }
}

/* Footer styling */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

footer img {
    display: block;
    max-width: 70px;
    max-height: 150px;
    width: auto;
    height: auto;
}

footer h4 {
    margin: 2rem 0;
    color: var(--maroon);
}
